/* GENERAL STYLE */
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




/* Header */
.header-conteiner {
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 9999
}

.navigation {
    width: auto;
    height: 100%;
    padding-top: 20px;
    position: absolute;
    right: 0;
}

.navigation ul {
    padding-top: 10px;
}
.navigation li {
    display: inline-block;
    background-color: #ffffff;
    padding: 12px 20px; 
    border-radius: 100%;
    margin: 0 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(68, 67, 67);
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 20px
}

/* MAIN */
.conteiner {
    height: 100vh;
    width: 100vw;
    position: relative;

}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.content img {
    position: relative;
    display: block;
    margin: 0 auto;

}

.content p {
    font-size: 50px;
    width: 50vw;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    color: #ffff00;

}

.red {
    background-color: red
}

.green {
    background-color: #008000;
}

.yellow {
    background-color: #ffff00;
}

.yellow > .content > p {
    color:#018000;
}